@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.825rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  --vis-tooltip-background-color: none !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: none !important;
  --vis-tooltip-shadow-color: none !important;
  --vis-tooltip-backdrop-filter: none !important;
  --vis-tooltip-padding: none !important;

  --vis-primary-color: var(--primary);
  /* change to any hsl value you want */
  --vis-secondary-color: 160 81% 40%;
  --vis-text-color: var(--muted-foreground);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@theme {
  /* Font family */
  --font-sans: 'Inter', sans-serif;

  /* Font size */
  /* Disabled typography sizes */
  --text-9xl: initial;
  --text-9xl--line-height: initial;
  --text-8xl: initial;
  --text-8xl--line-height: initial;
  --text-7xl: initial;
  --text-7xl--line-height: initial;
  --text-6xl: initial;
  --text-6xl--line-height: initial;
  --text-5xl: initial;
  --text-5xl--line-height: initial;
  --text-4xl: initial;
  --text-4xl--line-height: initial;
  /* End disabled typography sizes */

  /* https://developer.apple.com/design/human-interface-guidelines/typography#iOS-iPadOS-Dynamic-Type-sizes */
  /* 3xl (Large Title) */
  --text-3xl: 2.125rem;
  --text-3xl--line-height: 2.5625rem;
  --text-3xl--letter-spacing: 0.012em;
  /* 2xl (Title 1) */
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 2.125rem;
  --text-2xl--letter-spacing: 0.014em;
  /* xl (Title 2) */
  --text-xl: 1.375rem;
  --text-xl--line-height: 1.75rem;
  --text-xl--letter-spacing: -0.012em;
  /* lg (Title 3) */
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.5625rem;
  --text-lg--letter-spacing: -0.023em;
  /* base (Body) */
  --text-base: 1.0625rem;
  --text-base--line-height: 1.375rem;
  --text-base--letter-spacing: -0.026em;
  /* sm (Callout) */
  --text-sm: 1rem;
  --text-sm--line-height: 1.3125rem;
  --text-sm--letter-spacing: -0.02em;
  /* xs (Subheadline) */
  --text-xs: 0.9375rem;
  --text-xs--line-height: 1.25rem;
  --text-xs--letter-spacing: -0.016em;
  /* 2xs (Footnote) */
  --text-2xs: 0.8125rem;
  --text-2xs--line-height: 1.125rem;
  --text-2xs--letter-spacing: -0.006em;
  /* 3xs (Caption 1) */
  --text-3xs: 0.75rem;
  --text-3xs--line-height: 1rem;
  --text-3xs--letter-spacing: 0em;
  /* 4xs (Caption 2) */
  --text-4xs: 0.6875rem;
  --text-4xs--line-height: 0.8125rem;
  --text-4xs--letter-spacing: 0.006em;
}

@theme inline {
  /* Radii */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme inline {
  /* Accordion */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border ring-ring outline-ring/50;
  }

  html,
  body,
  #__vue {
    @apply h-full;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-base text-foreground antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}

/* If you want to debug the hitbox and the element size, apply those classes: bg-blue-500/40 after:bg-red-500/60 */
@utility hitbox-* {
  position: relative;

  &::after {
    position: absolute;
    content: var(--tw-content);
    inset: calc(var(--spacing) * --value(number) * -1);
  }
}
